<div class="footer">
  <div class="inner footer__inner">
   <div class="footer__body">
     <div class="footer__logo">
       <a href="">
         <img src="./images/common/logo-w.svg" alt="TO U">
       </a>
    </div><!-- /.footer__logo -->
    <div class="footer__menu">
       <div class="footer__menu-item"><a href="">マイページ</a></div><!-- /.footer__menu-item -->
       <div class="footer__menu-item"><a href="">よくある質問</a></div><!-- /.footer__menu-item -->
       <div class="footer__menu-item"><a href="">会社概要</a></div><!-- /.footer__menu-item -->
       <div class="footer__menu-item"><a href="">お問い合わせ</a></div><!-- /.footer__menu-item -->
    </div><!-- /.footer__menu -->
    <div class="footer__sns">
      <div class="footer__sns-item">
        <a href="">
          <img src="../images/common/twitter.png" alt="twitter">
        </a>
      </div><!-- /.footer__sns-item -->
      <div class="footer__sns-item">
        <a href="">
          <img src="../images/common/facebook.png" alt="facebook">
        </a>
      </div><!-- /.footer__sns-item -->
      <div class="footer__sns-item">
        <a href="">
          <img src="../images/common/instagram.png" alt="instagram">
        </a>
      </div><!-- /.footer__sns-item -->
    </div><!-- /.footer__sns -->
  </div><!-- /.footer__body -->
    <div class="footer__copy">
      &copy;to U
    </div><!-- /.footer__copy -->
  </div><!-- /.inner footer__inner -->
</div>

