<header class="header">
    <div class="header__inner">
      <h1 class="header__logo">
        <a href="">
          <img src="./images/common/logo.svg" alt="TO U">
        </a>
      </h1><!-- /.header__logo -->
       <nav class="header__menu">  
           <a  href=" " class="header__menu-item">
              <img src="./images/common/menu.png" alt="メニューアイコン">
            </a><!-- /.header__menu-item -->
            <a href=" " class="header__menu-item">
              <img src="./images/common/cart.png" alt="カートアイコン">             
            </a><!-- /.header__menu-item -->
       </nav>
    </div><!-- /.header__inner -->
</header><!-- /.header -->