<div class="concept-item  js-scrollAnimation">
    <div class="concept-item__block">
      <div class="concept-item__body">
        <div class="concept-item__title">
          <%- include('../parts/_section-title-left', {text:'コンセプト' }) %>
        </div><!-- /.concept-item__title -->
        <p class="concept-item__text">肌はひとりひとり違うものだから、<br>流行りにとらわれず、本当に良いものを求めるあなたへ。
        </p><!-- /.concept-item__text -->
        <p class="concept-item__text">10,000通りの組み合わせから<br>あなたの肌質や体質に最適なスキンケアをお届けします。</p><!-- /.concept-item__text -->
      </div><!-- /.concept-item__body -->
      <div class="concept-item__img">
        <img src="./images/common/concept.jpg" alt="concept画像">
      </div><!-- /.concept-item__img -->
    </div><!-- /.concept-item__block -->
  </div><!-- /.concept-item -->