<div class="flow">
    <div class="flow__header">
      <figure class="flow__figure">
        <img src="<%= image %>" alt="<%= alt %>" >
      </figure>
    </div><!-- /.flow__header -->
    <div class="flow__body">
      <h3 class="flow__title"><%= title %></h3>
      <p class="flow__copy"><%- text %></p>
    </div><!-- /.flow__body -->
  </div>