<article class="news">
  <div class="news__meta">
    <time class="news__date" datetime="<%- datetime %>"><%- time %></time>
  </div><!-- /.news__nav -->
   <div class="news__body">
     <a href="" class="news__title">
       <%- title %>
     </a><!-- /.news__title -->
   </div><!-- /.news__body -->
</article><!-- /.news -->