<div class="price">
  <picture>
    <source srcset=" ./images/common/price-pc.jpg " media="(min-width: 768px)"/><!-- 幅768px以上なら表示 -->
    <img src=" ./images/common/price-sp.jpg " alt="価格" /><!-- それ以外で表示 -->
  </picture>
</div><!-- /.price -->