<div class="set">
   <div class="set__block">
     <div class="set__img">
       <img src="./images/common/set.jpg" alt="セット内容画像">
      </div><!-- /.set__img -->
    </div><!-- /.set-block -->
  <div class="set__body">
    <p class="set__text">■化粧水 <span>200ml</span><span>1本</span></p><!-- /.set__text -->
    <p class="set__text">■美容クリーム <span>60g</span><span>1個</span></p><!-- /.set__text -->
    <p class="set__text">■乳液 <span>90g</span><span>1本</span></p><!-- /.set__text -->
    <div class="set__footer">
      <div class="set__plus">さらに！30日間全額返金保証付き</div><!-- /.set__plus -->
    </div><!-- /.set__footer -->
  </div><!-- /.set__body -->
</div><!-- /.set -->