@use 'global' as * ; 

.mv{
padding-top: rem(60);

@include mq(tab) {
  padding-top: rem(80);
  height: 100vh;
}
}

.mv__body {
  width: 100%;
  height: 100%;
  position: relative;
}

.mv__body::before {
  @include mq(tab) {
    content: "";
    display: block;
    width: calc(925 / 1440) * 100vw;
    height: 100%;
    background: url(../images/common/mv-pc.jpg) no-repeat center center / cover;
    position: absolute;
    top: 0;
    right: 0;
  }


}

.mv__img-box{
  width: 100%;
 height: calc(276 / 375) * 100vw;

 @include mq(tab) {
   height: 100%;
 }
}
.mv__img{
  width: 100%;
  height: 100%;

}

.mv__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mv__title-box{
  margin-top: rem(20);
  @include mq(tab) {
    width: rem(600);
    margin-top: initial;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 68.5vw;
    z-index: 2;
  }
}


.mv__title{
  font-size: rem(30);
  line-height: 1.2;
  letter-spacing: 0.06em;

  @include mq(tab) {
   font-size: rem(50);    
  }
}
.mv__sub-title{
  display: inline-block;
  font-size: rem(16);
  line-height: 1.5;

  @include mq(tab) {
    margin-top: rem(46);
    font-size: rem(24);

  }

}
.mv__btn{
  margin-top: rem(26);
  @include mq(tab) {
    margin-top: rem(46);
    
  }
    
}

.mv__aside {
  background: $color-back2;
  width: rem(388);
  position: absolute;
  right: 0;
  bottom: rem(46);
}

.mv__aside a {
  padding: rem(30);
  width: 100%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.mv__aside a::before {
  content: "簡単3分";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(18);
  color: $white;
  font-size: rem(18);
  line-height: 1.16666;
  text-align: center;
  width: rem(73);
  height: rem(80);
  background: $color-accent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  clip-path: polygon(0 22%, 50% 0, 100% 22%, 100% 78%, 50% 100%, 0 78%);
}


.mv__aside a::after {
  content: "";
  display: block;
  width: rem(70);
  height: rem(128);
  background: url(../images/common/phone.jpg) no-repeat center center / contain;
  position: absolute;
  top: rem(-13);
  right: rem(30);

}

.mv__aside-title {
  font-size: rem(18);
  line-height: 1.16666;
}

.mv__aside-text {
  font-size: rem(14);
  line-height: 1.5;
  margin-top: rem(9);
}